* {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
}

html, body {
    height: auto;
    width: auto;
}

html {
    background-color: aliceblue;
}

body {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.heading {
    font-size: 80px;
    margin-bottom: 150px;
}

.instruction {
    font-size: 32px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

button {
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 200px;
}

.score {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 500px;
}

button img {
    height: 100px;
    width: auto;
}

.player, .computer {
    text-align: center;
}